<div class="col-sm-6 product">
  <%= image_tag product.img_set[0], style: 'width: 100%' %>
</div>
<div class="col-sm-6 product-detail">
  <h3 class="product-name"><%= product.name %></h3>
  <% if unit %>
    <p class="product-price"><%= number_to_currency(unit.price, unit: 'VND ', precision: 0) %></p>
  <% else %>
    <p class="product-price">0</p>
  <% end %>
  <p>
    <span>
      <% @product.size_set.each do |size| %>
          <%= link_to size, product_path(product, size: size, color: params[:color]),
          class: "product-size #{'active' if current_page?(product_path(product, size: size, color: params[:color]))}" %>
      <% end %>
    </span>

    <span>
      <% @product.color_set.each do |color| %>
          <%= link_to color, product_path(product, size: params[:size], color: color),
          class: "product-size #{'active' if current_page?(product_path(product, size: params[:size], color: color))}" %>
      <% end %>
    </span>
  </p>

  <% if unit %>
    <p class="product-quantity">available</p>
  <% else %>
    <p class="product-quantity">not available</p>
  <% end %>
  <div class="product-images">
    <% product.img_set.each do |img| %>
      <%= image_tag img, style: 'height: 200px' %>
    <% end %>
  </div>

  <div class="place-order">
    <%= form_tag order_lines_path, method: 'post', remote: true, class: 'form-inline' do %>
      <% if !unit.nil? %>
        <% default_quantity = unit.nil? ? 0 : 1 %>
        <%= number_field_tag :quantity, default_quantity ,class: 'form-control form-group' %>
        <%= hidden_field_tag 'unit_id', unit.id %>
      <% end %>
      <%= submit_tag 'Add to cart', class: "btn btn-primary #{'btn-danger disabled' if unit.nil?}" %>
    <% end %>
  </div>
</div>
