<!DOCTYPE html>
<html>
  <head>
    <title>Tension</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid header" style="text-align: center">
      <h1 class="title">
        <%= link_to 'Tension', root_path, class: 'pure' %>
      </h1>
    </div>

    <div class="container-nav">
      <nav id="menu">
        <ul>
          <% Collection.all.each do |c| %>
            <li class="category-link">
              <%= link_to c.name, collection_path(c) %>
            </li>
          <% end %>
          <li class="category-link">
            <%= link_to 'Browse', products_path %>
            <% if current_page?(products_path) %>
              <ul style="padding-left: 20px;">
                <% Category.all.each do |c| %>
                  <li class="category-link">
                    <%= link_to c.name, products_path(category: c.id) %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
