<!DOCTYPE html>
<html>
  <head>
    <title>Tension</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <div class="container-fluid header">
      <h1 style="text-align: center">
        <a href="<%= root_path %>" class="title">
          Tension
        </a>
      </h1>
      <div class="user-function">
        <div id="SearchBar" class="search-box btn-group">

          <div id="custom-search-input">
            <%= form_tag search_path, method: 'post' do %>
              <!-- <input type="text" oninput="OnInput()" class="search-field" placeholder="Search" name="q"/>
              <span class="clear-icon glyphicon glyphicon-remove"></span> -->
              <%= text_field_tag :q, params[:q], placeholder: 'Search', class: 'form-control', style: 'width: 150px; margin-right: 10px;' %>
            <% end %>

            </div>
      	</div>
        <% if user_signed_in? %>
          <h3 class="cart-info" style="display: inline">
            <%= render 'shared/cart_info' %>
          </h3>
          <%= link_to 'Log out', logout_path, class: 'nav-link', style: "display: inline" %>
        <% else %>
          <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
        <% end %>
      </div>
    </div>

    <% unless
         current_page?(new_user_session_path) or
         current_page?(new_user_registration_path) or
         current_page?(cart_path) or
         current_page?(orders_path) or
         current_page?(order_path(1))
       then
    %>
      <div class="container-nav">
        <nav id="menu">
          <ul>
            <li class="category-link">
              <%= link_to 'Browse all', products_path, class: "big-link pure #{ current_class?(products_path) }" %>
              <% if current_page?(products_path) %>
                <ul style="padding-left: 20px;">
                  <% Category.all.each do |c| %>
                    <li class="category-link">
                      <%= link_to c.name, products_path(category: c.id), class: "pure #{ current_class?(products_path(category: c.id))}" %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
            <% Collection.all.each do |c| %>
              <li class="category-link">
                <%= link_to c.name, collection_path(c), class: "big-link pure #{ current_class?(collection_path(c))}" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    <% end %>

    <div class="content">
      <%= flash_messages %>
      <%= yield %>
    </div>

    <script>
    $(".search").click(function(){
if(!$(".search-box").hasClass("active") || $(".search-field").val() == ''){
 $(".search-box").addClass('active');$(".search-field").focus();
 $(".clear-icon").click(function(){
   ClearSearchField();
   OnInput();
 });
 return false;

} else {
 $(".text").html("You were trying to search for: <br/>" + $(".search-field").val());
 ClearSearchField();
 $(".search-box").removeClass('active');
 $(".clear-icon").removeClass("show");
OnInput();
}
});

function OnInput() {
if(!$(".search-field").val() == '') {
 $(".clear-icon").addClass("show");
} else {
 $(".clear-icon").removeClass("show");
}
}

function ClearSearchField() {
$(".search-field").val('');
$(".search-field").focus();
}

$("html").click(function(e){
if(!$(e.target).is('.search-field, .clear-icon, .search'))
{
 $(".search-field").focus();
 ClearSearchField();
 OnInput();
 $(".search-box").removeClass('active');
}
});
    </script>
  </body>
</html>
