<!DOCTYPE html>
<html>
  <head>
    <title>Tension</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid header" style="text-align: center">
      <h1 class="title">
        <%= link_to 'Tension', root_path, class: 'pure' %>
      </h1>
    </div>

    <div class="container-nav">
      <nav id="menu">
        <ul>
          <li class="category-link">
            <a href="#">New in</a>
          </li>
          <li class="category-link"><a href="">Must have</a></li>
          <li class="category-link">
            <%= link_to 'Browse', products_path %>
            <ul>
              <li class="category-link"><a href=""></a>Outware</li>
              <li class="category-link"><a href=""></a>Bomber</li>
              <li class="category-link"><a href=""></a>Jacket</li>
            </ul>
          </li>
          <li class="category-link">
            <a href="">Sales</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
